/*
 * Dashboard css File
*/


    /* propertys here */
    .projects-display-inline{
        /* display: inline-block !important; */
        float: left !important;
    }

    .links-no-decoration{
        text-decoration: none !important;
        color: #000;
    }
    