/*
 * Dashboard css File
*/


    /* propertys here */
    .projects-display-flex{
      display: flex;
      flex-direction: row;
    }

    .links-no-decoration{
        text-decoration: none !important;
        color: #000;
    }
    